@{
    ViewData["Title"] = "Home Page";
}
<html>
<h1>Welcome to QuotingDojo</h1>
<div>
    <form action="method" method="post">
        Your Name: <input type="text" name="name">
        <br>
        Your Quote: <input type="textarea" name="quote">
        <br>
        <input type="submit" value="Add my quote!">
        <a action="/quotes"><button>Skip to quotes</button></a>
    </form>
</div>
</html>