<!DOCTYPE html>
<html>
<head>
	<title>QuotingDojo</title>
</head>
<body>
	<h1>Welcome to QuotingDojo</h1>
	<div>
		<form action="/quote" method="post">
			<p>Your name: <input type="text" name="name"></p>
			<p>Your quote: <input type="text" name="quote"></p>
			<input type="submit" name="" value="submit">
		</form>
		<a href="/quotes">View quotes</a>
	</div>
</body>
</html>