<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Contact</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <h1>Contact Me!</h1>
        <a href="/">Home</a>
        <a href="Projects">Projects</a>
        <br>
        <img src="https://hemanmotu.files.wordpress.com/2017/02/disks-5.jpg?w=500&h=366">
        <p>If you want to join the winning team as a henchman or get on my mailing list to see if your home planet is on my domination schedule, sign up for my weekly newsletter. I won't sell your information to third parties...probably.</p>
        <div>
            <form action="#" method="POST">
                Name: <input type="text">
                <br>
                Email: <input type="text">
                <br>
                Comment: <input type="textarea" rows="4" cols="100" placeholder="Leave me a message, win my favor!">
                <br>
                <input type="submit" value="Submit To Me!">
            </form>
        </div>
    </body>
</html>