<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Home</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <h1>Hello! I'm Skeletor, Master of the Universe!</h1>
        <a href="Projects">Projects</a>
        <a href="Contact">Contact</a>
        <br>
        <img src="https://i.ytimg.com/vi/bvk74bG5xU4/maxresdefault.jpg">
        <h2>About Me...</h2>
        <p>I enjoy soft serve ice creams, casual strolls through the park, and chewy bagels.</p>
        <h3>My Goals:</h3>
        <ul>
            <li>Defeat He-Man</li>
            <li>Capture Castle GreySkull</li>
            <li>Find True Love</li>
            <li>Subjugate the lower lifeforms of the Universe and become Overall Ruler</li>
            <li>Learn to love me</li>
        </ul>
    </body>
</html>