<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Projects</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <h1>My Projects</h1>
        <a href="/">Home</a>
        <a href="Contact">Contact</a>
        <br>
        <h2>Develop Advanced Magical Abilities</h2>
        <img src="https://static.comicvine.com/uploads/original/4/49448/2444877-blog_odd_weapon.jpg">
        <p>It's just, like, really cool to shoot lightning and sparks and stuff!</p>
        
        <h2>Assembly of Henchmen</h2>
        <img src="https://s-media-cache-ak0.pinimg.com/originals/88/55/5d/88555d76c33c33f5cb8cad3618001ec3.jpg">
        <p>It takes a team to overthrow the universe, and I feel that my managerial have really grown as I've assembled my team of dastardly minions.</p>

        <h2>Reupholster Antique Furniture for Snake Mountain Re-design</h2>
        <img src="http://ackermansmn.com/wp-content/gallery/upholstery/armchair-reupholstery-for-blkerer-before-and-after.jpg">
        <p>Between BeastMan's shedding and the slime monsters' sludge trails, I've honed my abilities in reupholstery.  Who says an arch villain can't have nice things?  Pinterest for the win!</p>
    </body>
</html>