<!DOCTYPE html>
<html>
<head>
	<title>Full Friends</title>
</head>
<body>
	<div>
		<h1>All friends</h1>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Added</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
			{% for friend in all_friends %}
				<tr>
					<td>{{ friend.first_name}} {{ friend.last_name}}</td>
					<td>{{ friend.email }}</td>
					<td>{{ friend.created_at }}</td>
					<td><a href="/friends/{{ friend.id }}/edit">Edit</a><a href="/friends/{{ friend.id }}/show">Show</a>
					<form action="/friends/{{ friend.id }}/destroy" method="post">
						<input type="submit" name="" value="Delete">
					</form>
					</td>
				</tr>
			{% endfor %}
			<a href="/friends/new">Add friend</a>
			</tbody>
		</table>
	</div>
</body>
</html>