<!DOCTYPE html>
<html>
<head>
	<title>Survey Form</title>
</head>
<body>
	<h1>Survey</h1>
	<form action="/results" method="post">
		<div>
			Name:
			<input type="name" name="name" value="Allen">
		</div>
		<div>
			Location:
			<input type="location" name="location" value="Seattle">
		</div>
		<div>
			Language:
			<input type="language" name="language" value="C#">
		</div>
		<div>
			Comment:
			<input type="comment" name="comment" value="Stuffffff">
		</div>
		<div>
			<input type="submit" name="">
		</div>
	</form>
</body>
</html>