<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
</head>
<body>
	<div>
		<p>Name: <%= info.name %></p>
		<p>Location: <%= info.location %></p>
		<p>Language: <%= info.language %></p>
		<p>Comment: <%= info.comment %></p>
	</div>
</body>
</html>