<!DOCTYPE html>
<html>
<head>
	<title>Add</title>
</head>
<body>
	<h1>Add a Mongoose</h1>
	<div>
		<form action="/add" method="post">
			<p>Mongoose name: <input type="text" name="name"></p>
			<input type="submit" name="" value="submit">
		</form>
		<a href="/">Go home</a>
	</div>
</body>
</html>