<!DOCTYPE html>
<html>
<head>
	<title>Survey</title>
</head>
<body>
	<div>
	<form>
	<h2>Info here:</h2>
	<form action="results" method="post">
		Name:<input type='text' name='name'>
		<br>
        <br>
		Location:<select name="location">
			<option value="Seattle" name='location'>Seattle</option>
			<option value="Silicon Valley" name='location'>Silicon Valley</option>
			<option value="Chicago" name='location'>Chicago</option>
			</select>
		<br>
        <br>
		Favorite Language:<select name="language">
			<option value="Python" name='Python'>Python</option>
			<option value="HTML" name='HTML'>HTML</option>
			<option value="CSS" name='CSS'>CSS</option>
			</select>
		<br>
        <br>
		<textarea name='comment'>Comment(optional):</textarea>
		<br>
        <br>
		<button type="submit">Register</button>
	</form>
	</div>
</body>
</html>