<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
</head>
<body>
	<div>
	<form>
	<h2>Results</h2>
        <p>Name: </p>
        <p>Location: </p>
        <p>Favorite Language: </p>
        <p>Comment: </p>
	</div>
</body>
</html>